.about-details{
    top: 5%;
    left: 10%;
    background-color: white;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    height: 500px;
    width: 1000px; /* Adjust the width based on your design */
    color: black;
    z-index: 2;
    /* Animation properties */
    transform-origin: top right; /* Set the origin of the transformation to top right */
}


.about-details {
    animation: expandAnimation 500ms forwards;
    transform: scale(1);
    opacity: 1;
}

@keyframes expandAnimation {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.about-details h1 {
    text-align: center;
    font-size: 30px;
}

.about-details p {
    margin-bottom: 15px;
    font-size: 20px;
}

.about-details ul {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
}
.about-details li {
    padding-left: 5px;
    padding-bottom: 10px;
}

.about-details b {
    font-size: 20px;
}