@font-face {
    font-family: "PokemonDSFont";
    src: url("/src/fonts/pokemon-ds-font.ttf") format("truetype");
}

body {
    font-family: "PokemonDSFont", serif;
    font-size: 22px;
}

#display-dialogue {
    position: absolute;
    text-align: left; /* Center the button text */
    font-size: 26px; /* Adjust font size */
    font-weight: bold; /* Add bold font weight */
    /*text-transform: uppercase; !* Convert text to uppercase *!*/
    font-family: "PokemonDSFont", serif;
    width: 750px;
    height: 100px;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    left: 30px;
    bottom: 10px;
}

.dialogue button {
    /* Styles for the buttons inside the battle details container */
    background-color: rgba(0, 112, 192, 0.7); /* Reduce opacity to match the details box */
    color: #fff;
    border: none;
    padding: 20px 20px; /* Increase padding for larger buttons */
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Set a fixed width for the buttons */
    height: 70px;
    text-align: center; /* Center the button text */
    font-size: 32px; /* Adjust font size */
    font-weight: bold; /* Add bold font weight */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: "PokemonDSFont", serif;
}

.dialogue #continue-btn {
    position: absolute;
    font-size: 16px;
    width: 90px;
    height: 30px;
    padding: 10px 10px 10px 10px;
    bottom: 25px;
    right: 50px;
}

.dialogue button:hover {
    /* Button styles on hover */
    background-color: rgba(0, 80, 160, 0.7); /* Adjust hover opacity if needed */
}

.dialogue-container {
    /* Styles for the battle details container */
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    height: 150px;
    bottom: 10%;
    left: 18%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
