/*Layers
5: Poke Player Utility ( PokeDex, Bag, Pokemon, etc)
4: Utility Background cover
3: Player Control (Buttons/Dialouge)
2: Cover Layer
1: Game Display Content (Pokemon/Characters/Game Effects)
0: Background




*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


.image-container {
  max-width: 960px;
  max-height: 540px;
  padding: 10px;
  display: inline-block;
  z-index: 2;
}


.pokeUtilities-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .90); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Start with opacity 0, so it's hidden */
  pointer-events: none; /* Prevent interactions when not open */
  z-index: 4; /* Higher z-index to make sure pokedex-container appears above game-image-container */
}

.pokeUtilities-container.open {
  opacity: 1; /* Show the Pokedex when it's open */
  pointer-events: auto; /* Allow interactions when open */
  z-index: 4;
}

#image-element {
  max-width: 640px;
  max-height: 360px;
  z-index: 1;
}

#header h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: "Toppan Bunkyu Midashi Gothic", serif;
  z-index: 3;
}

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  z-index: 1;
}

.game-image-container{
  z-index: 1;
}

.main-game p1 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  font-family: "Toppan Bunkyu Midashi Gothic", serif;
  z-index: 3;
}

#option-buttons{
  z-index: 3;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #39414f;
  color: #e0e0e0;
  font-family: "Toppan Bunkyu Midashi Gothic", serif;
  z-index: 3;
}

.story-container{
  position: relative;
}

.app-details{
  border-top: 2px dashed #505560;
  padding-top: 20px;
  z-index: 4;
}

/* App details section */
.app-details.visible {
  z-index: 4;
  font-size: smaller;
  margin-top: 1em;
  padding: 0 100px;
  display: block; /* Hide the section initially */
  opacity: 1; /* Start with opacity set to 0 */
  transform: translateY(0); /* Start with a small translateY to push the section down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition for smooth animation */
}

.app-details.hidden {
  display: none; /* Hide the section by adding the "hidden" class */
  opacity: 0;
  transform: translateY(20px);
}

.details-toggle-btn-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
  z-index: 2;
}

.details-toggle-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #282c34;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.details-toggle-btn:hover {
  background-color: #505560;
  z-index: 2;
}

/* GitHub Button */
.github-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #282c34;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  z-index: 2;
}
/* GitHub Button on hover */
.github-btn:hover {
  background-color: #fff; /* Change to white on hover */
  z-index: 2;
}

/* GitHub Hyperlink */
.github-link {
  color: #007bff;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

/* GitHub Logo */
.github-logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}
#details-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
  z-index: 2;
 }

/* GitHub Link Container */
.github-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}


/* GitHub Logo highlight on hover */
.github-link:hover .github-logo::before {
  opacity: 1; /* Show the circular highlight on hover */
}

.player-utility-panel {
  position: fixed;
  top: 0;
  left: -200px; /* Initially off the screen on the left */
  width: 200px;
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 5; /* Higher z-index to make sure it appears above other content */
}

.player-utility-panel.open {
  left: 0; /* Slide in from the left when open */
}
.pokedex-close {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.pokedex-open {
  background-color: hsl(200, 100%, 50%);
  border: 3px solid hsl(200, 100%, 30%);
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  outline: none;
  min-width: 150px; /* Set the minimum width for the button */
  min-height: 30px; /* Set the minimum height for the button */
}

/* Button grid */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  z-index: 2;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 3px solid hsl(200, 100%, 30%);
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  color: white;
  outline: none;
  min-width: 150px;
  z-index: 2;
}
.btn:hover {
  border-color: whitesmoke;
}
