@font-face {
    font-family: "PokemonDSFont";
    src: url("/src/fonts/pokemon-ds-font.ttf") format("truetype");
}

body {
    font-family: "PokemonDSFont", serif;
    font-size: 22px;
}

.game-container{
    position: relative;
}

.battle-container {
    min-width: 1280px;
    min-height: 720px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.battle-container.active {
    /*display: block;*/
}


.player-pokemon_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    /* Add your styles for the player's Pokémon container */
}

#player-pokemon-sprite {
    position: absolute;
    bottom: -10%;
    left: 30%;
    transform: translateX(-50%);
    height: 350px;
    width: 350px;
    z-index: 1;

}

#opponent-pokemon-sprite {
    position: absolute;
    bottom: 30%;
    right: 5%;
    transform: translateX(-50%);
    height: 250px;
    width: 250px;
    z-index: 1;
}



.battle-details-container {
    /* Styles for the battle details container */
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    height: 150px;
    top: 65%;
    left: 18%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.battle-options {
    /* Existing styles for battle buttons */
    position: absolute;
    bottom: 50%;
    left: 50%; /* Adjust the left position to align the buttons with the details box */
    width: auto; /* Make the buttons fill up 50% of the container width */
    /*transform: translateY(0%);*/
    z-index: 2;
    display: flex;
    /*justify-content: space-around; !* Distribute buttons evenly within the container *!*/
    flex-direction: column;
    gap: 10px;
}

.battle-options button {
    /* Styles for the buttons inside the battle details container */
    background-color: rgba(0, 112, 192, 0.7); /* Reduce opacity to match the details box */
    color: #fff;
    border: none;
    padding: 20px 20px; /* Increase padding for larger buttons */
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Set a fixed width for the buttons */
    height: 70px;
    text-align: center; /* Center the button text */
    font-size: 32px; /* Adjust font size */
    font-weight: bold; /* Add bold font weight */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: "PokemonDSFont", serif;

}

.battle-options #top-left {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.battle-options #top-right {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.battle-options #bot-left {
    position: absolute;
    top: 10px;
    right: 10px;
}

.battle-options #bot-right {
    position: absolute;
    top: 10px;
    left: 10px;
}


.battle-options button:hover {
    /* Button styles on hover */
    background-color: rgba(0, 80, 160, 0.7); /* Adjust hover opacity if needed */
}

.battle-options #continue-btn {
    position: absolute;
    font-size: 16px;
    width: 90px;
    height: 30px;
    padding: 10px 10px 10px 10px;
    top: 50px;
    left: 300px;
}

#display-text {
    position: absolute;
    text-align: left; /* Center the button text */
    font-size: 26px; /* Adjust font size */
    font-weight: bold; /* Add bold font weight */
    /*text-transform: uppercase; !* Convert text to uppercase *!*/
    font-family: "PokemonDSFont", serif;
    width: 750px;
    height: 100px;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    left: -400px;
    bottom: -30px;

}
