.battle-container {
    min-width: 1280px;
    min-height: 720px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.battle-container.active {
    /*display: block;*/
}


.player-pokemon_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    /* Add your styles for the player's Pokémon container */
}

#player-pokemon-sprite {
    position: absolute;
    bottom: -10%;
    left: 30%;
    transform: translateX(-50%);
    height: 350px;
    width: 350px;
    z-index: 1;

}

#opponent-pokemon-sprite {
    position: absolute;
    bottom: 30%;
    right: 5%;
    transform: translateX(-50%);
    height: 250px;
    width: 250px;
    z-index: 1;
}